.fanficq-read {
	background-color: #EDD;
}
.fanficq-read .stitle {
	text-decoration: line-through !important;
	font-style: italic;	
}
.fanficq-started {
	background-color: #DDE;
}
.fanficq-started .stitle {
	font-stlye: italic;
}
